.post-type-archive-recipes {
    nav {
        display: none;
    }
}
.archive-recipes {
    background-color: $ide-bg;

    .main-content {
        form {
            background-color: $white;
            border-bottom: 2px solid $black;
            position: sticky;
            top: 0px;
            z-index: 100;
            
            &>div {
                margin: 0 auto;
                max-width: 800px;
                padding: 30px 30px 30px 30px;
            }
            input[type="search"] {
                border: 1px solid $black;
                border-radius: 20px;
                display: block;
                margin: 0 auto;
                padding: 10px 20px;
                width: 100%;
            }
            .filters {
                align-items: flex-start;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                gap: 30px;
                margin-top: 30px;

                .filter {
                    width: 100%;

                    &.open {
                        p::after {
                            transform: rotate(180deg);
                        }
                    }
                    p {
                        cursor: pointer;
                        font: 24px/1 $o;
                        margin: 0px;
                        position: relative;
                        text-transform: capitalize;

                        &::after {
                            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z'/%3E%3C/svg%3E");
                            background-position: center;
                            background-size: cover;
                            content: '';
                            display: inline-block;
                            height: 15px;
                            margin-left: 25px;
                            pointer-events: none;
                            transition: transform 0.3s;
                            width: 15px;
                        }
                    }
                    & > div {
                        height: 0px;
                        overflow: hidden;

                        & > div {
                            align-items: flex-start;
                            display: flex;
                            flex-flow: column nowrap;
                            gap: 7px;
                            margin-top: 20px;
                        }
                        label {
                            cursor: pointer;
                            align-items: center;
                            display: flex;
                            gap: 10px;
                            margin: 0px;

                            &.child {
                                margin-left: 24px;
                            }
                        }
                    }
                }
            }
        }
        .recipes {
            column-gap: 0px;
            display: grid;
            gap: 10px;
            grid-template-columns: repeat(auto-fit, 350px);
            justify-content: center;
            margin: 30px auto;
            max-width: 1800px;
            position: relative;

            &::before {
                background-color: rgba($black, 0.5);
                content: '';
                height: 100%;
                opacity: 0;
                pointer-events: none;
                left: 0;
                position: fixed;
                top: 0;
                transition: opacity 0.1s;
                width: 100%;
                z-index: 10;
            }
            &::after {
                animation: 1.5s infinite spin linear;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M13 23c0-.552-.448-1-1-1s-1 .448-1 1 .448 1 1 1 1-.448 1-1zm4.084-.834c0-.483-.393-.875-.875-.875s-.875.392-.875.875.393.875.875.875.875-.392.875-.875zm3.443-2.387c0-.414-.336-.75-.75-.75s-.75.336-.75.75.336.75.75.75.75-.336.75-.75zm2.343-3.568c0-.391-.317-.708-.708-.708s-.708.317-.708.708.317.708.708.708.708-.317.708-.708zm.796-4.209c0-.368-.298-.667-.666-.667s-.666.298-.666.667.298.667.666.667.666-.298.666-.667zm-.879-4.209c0-.345-.28-.625-.625-.625s-.625.28-.625.625.28.625.625.625.625-.279.625-.625zm-2.427-3.568c0-.322-.262-.583-.583-.583s-.583.261-.583.583.262.583.583.583.583-.261.583-.583zm-3.609-2.385c0-.299-.242-.542-.541-.542s-.541.242-.541.542.242.542.541.542.541-.243.541-.542zm-3.751-.84c0-.552-.448-1-1-1s-1 .448-1 1 .448 1 1 1 1-.448 1-1zm-4.21.838c0-.552-.448-1-1-1s-1 .448-1 1 .448 1 1 1 1-.448 1-1zm-3.569 2.385c0-.552-.448-1-1-1s-1 .448-1 1 .448 1 1 1 1-.448 1-1zm-2.384 3.57c0-.552-.448-1-1-1s-1 .448-1 1 .448 1 1 1 1-.447 1-1zm-.837 4.209c0-.552-.448-1-1-1s-1 .448-1 1 .448 1 1 1 1-.448 1-1zm.837 4.209c0-.552-.448-1-1-1s-1 .448-1 1 .448 1 1 1 1-.447 1-1zm2.384 3.569c0-.552-.448-1-1-1s-1 .448-1 1 .448 1 1 1 1-.447 1-1zm3.571 2.383c0-.552-.448-1-1-1s-1 .448-1 1 .448 1 1 1 1-.448 1-1z'/%3E%3C/svg%3E");
                background-repeat: no-repeat;
                background-size: 100px 100px;
                background-position: center;
                content: '';
                height: 100%;
                left: 0;
                opacity: 0;
                pointer-events: none;
                position: fixed;
                top: 0;
                transform: rotate(0deg);
                transition: all 0.1s;
                width: 100%;
                z-index: 11;
            }
            &.loading {
                &::before, &::after {
                    opacity: 1;
                }

            }
            a.next-page {
                grid-column: 1 / span 3;
                font-size: 0px;
                padding: 80px 0px;
            }
            .recipe {
                border-radius: 20px;
                display: flex;
                flex-flow: column nowrap;
                overflow: hidden;
                position: relative;
                
                &:hover {
                    .image-wrap .image {
                        transform: scale(1.1);
                    }
                    .details h5 {
                        text-decoration: underline;
                    }
                }

                .image-wrap {
                    overflow: hidden;
                    padding-top: (1080/879)*100%;
                    position: relative;

                    .image {
                        background-size: cover;
                        background-position: center;
                        bottom: 0;
                        left: 0;
                        position: absolute;
                        right: 0;
                        top: 0;
                        transition: all 0.2s;
                    }
                }
                .details {
                    background-color: $white;
                    border-top: 4px solid $black;
                    box-sizing: border-box;
                    color: $black;
                    display: flex;
                    flex-flow: column nowrap;
                    height: 100%;
                    padding: 30px;
                    width: 100%;
                    
                    h5 {
                        letter-spacing: 1px;
                        line-height: 1.3;
                        text-align: center;
                        text-underline-offset: 3px;
                        text-transform: uppercase;
                    }
                    p.source {
                        margin-bottom: auto;
                    }
                    .meta {
                        margin-top: auto;

                        p {
                            text-transform: capitalize;
                            margin-bottom: 0;
                        }
                    }
                }
            }
            .error-wrap {
                color: $white;
                grid-column: 1 / span 1;
                max-width: 600px;
                justify-self: center;
                padding: 60px 0px;
                text-align: center;

                a.reset-btn {
                    border: 2px solid $white;
                    border-radius: 30px;
                    display: inline-block;
                    margin-top: 30px;
                    padding: 10px 15px;
                    text-decoration: none;
                    text-transform: uppercase;
                    transition: all 0.3s;

                    &:hover {
                        background-color: $white;
                        color: $black;
                    }
                }
            }
        }
    }

    @include max_width(1069px) {
        .main-content {
            .recipes {
                display: flex;
                flex-flow: row wrap;
                gap: 20px;

                .recipe {
                    max-width: none;
                    width: calc(50% - 10px);
                }
            }
        }
    }
    @include mobile_width {
        .main-content {
            form {
                position: relative;
                top: auto;
            }
            .recipes {
                .recipe {
                    display: flex;
                    flex-flow: column nowrap;

                    .meta {
                        background-color: #333333;
                        opacity: 1;
                        position: relative;
                    }
                }
            }
        }
    }
    @include max_width(699px) {
        .main-content {
            form {
                .filters {
                    flex-direction: column;
                }
            }
            .recipes {
                gap: 20px;
                
                .recipe {
                    width: 100%;
                }
            }
        }
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}